*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;

    background-color: rgb(219, 219, 218);
    font-family: Arial, Helvetica, sans-serif;
}


header{
    height: 200px;
    background-color: tomato;
}

.edu{
    background-color: white;
    height: 380px;
    width: 310px;
    margin-left: 50px;
    margin-top: 50px;

}

.edu,h2,h3{
    background-color: white;

}

h2{
    background-color: tomato;
    margin-top: 15px;
    height: 100px;
    border-radius: 5px;
}

section{
    float: left;
    border-radius: 10px;
    padding: 5px;
}  


footer{
    background-color: white;
}